#app {
  font-family: 'Montserrat', sans-serif;
}

#header {
  position: sticky; top: 0;
  background: linear-gradient(#0a0b13, #2f61ac);
  padding: 0.85em 0 0.35em;
  margin-left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  border-bottom: #999 solid 1px;
  z-index: 1;
}

#header img {
  margin: auto 10vw;
}

.form-label {
  font-size: 1.4em;
}

select {
  font-size: 1em;
  margin: 1em 2em 0 0.5em;
  border-radius: 5px;
  padding: 0.25em;
}

#post-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.post {
  border: #999 solid 1px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px 15px;
  width: 85%; max-width: 900px;
  background-color: #333;
  cursor: pointer;
  transition: border-color 0.25s;
}

.post:hover {
  border-color: #ddd;
}

h2 {
  color: #f9f9f9;
}

h4 {
  color: #aaa;
}

@media (prefers-color-scheme: light) {
  #header {
    background: linear-gradient(#b4e0b3, #407bd3);
    border-color: #777;
    color:#0a0b13;
  }
  .post {
    background-color: #fefef9;
  }
  .post:hover {
    border-color: #2f61ac;
  }
  h2 {
    color: #111;
  }
  h4 {
    color: #444
  }
}

@media only screen and (max-width: 850px) {
  #header {
    justify-content: center;
  }
  select {
    margin: 1em 1.5em 0 0;
  }
}