* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: Roboto, 'Sans-serif';
}

#header {
  position: sticky; top: 0;
  z-index: 10;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(90deg, #3d5266, #0f1011);
}

body {
  background-color: #e6e4de;
}

@media only screen and (max-width: 600px) {
  #header img {
    display: none;
  }
}